RewriteEngine on
RewriteCond $1 !^(index.php|css|js|images|robots.txt|plantilla|jquery-1.9.1|bootstrap|temas|fonts|ajax|json|woff|qarmi|Chalet|png|funciones.js|jquery.min.js|bootstrap.css|agenda.css)
RewriteRule ^(.*)/(.*)$ index.php?controller=$1&action=$2